<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="server" />
    <working_directory value="$PROJECT_DIR$" />
    <parameters value="--debug=true serve" />
    <kind value="PACKAGE" />
    <package value="server" />
    <directory value="$PROJECT_DIR$" />
    <filePath value="$PROJECT_DIR$/main.go" />
    <method v="2">
      <option name="GoBeforeRunTask" command="generate" />
    </method>
  </configuration>
</component>